Body{
}
.nav {
  margin: 20px;
  background: midnight-blue;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 56px;
  color: white;
}
.main{
  background: white;
  font-family: Garamond, serif;
  font-weight: normal;
  font-variant: normal;
  font-size: 18px;
  color: midnight-blue;
  line-height: 1.2
}
h1 {
  color: MidnightBlue;
  font-family: Century Gothic,sans-serif;
  font-variant: small-caps;
  font-size: 48px;
}
h2 {
  font-family: Century Gothic,sans-serif;
  font-variant: small-caps;
  font-size: 32px;
}

}
h4 {
  font-family: Century Gothic,sans-serif;
  font-variant: small-caps;
    padding-top: 20px;
  font-size: 18px;
}
h6 {
font-weight: normal;
  font-size: 18px;
}
p {
  font-size: 18px;
}
  
