Body{
  background: midnight-blue;
}
.nav {
  margin: 20px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 48px;
  color: black;
}
h1 {
}
.main{
  background: beige;
  font-family: Garamond, serif;
  font-weight: normal;
  font-variant: normal;
  font-size: 18px;
  color: midnight-blue;
  line-height: normal;
}
h2 {
  font-family: Century Gothic,sans-serif;
  font-variant: small-caps;
  font-size: 32px;
}

}
h4 {
  font-family: Century Gothic,sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}
h6 {
font-weight: normal;
  font-size: 18px;
}
p {
  font-size: 18px;
}
  
